@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
}

.todoApp{
    width: 100%;
    max-width: 500px;
    padding: 0 15px;
    margin-bottom: 100px;
}

h1{
    color: rgba(255, 0, 0, 0.5);
    font-size: 5rem;
    text-align: center;
    position: relative;
}

h1 span{
    font-size: 30px;
    vertical-align: top;
    position: relative;
    cursor: pointer;
}

.todo{
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
}


/* TODO INPUT */

.todo-input{
    font-size: 1.55rem;
    padding: 15px 35px;
    display: block;
    width: 100%;
    border: none;
    margin-top: 30px;
    color: #333;
}

.todo-input:focus::placeholder{
    color: transparent;
}

.todo-input:focus{
    outline: none;
    color: #333;
}

.todo-input::placeholder{
    color: rgb(175, 175, 175);
    position: relative;
}


/* ITEMS */

.todo-items{
    background-color: #fff;
    list-style-type: none;
}

.todo-items li{
    font-size: 1.55rem;
    padding: 15px 35px;
    border-top: 1px solid #eee;
    color: #333;
    cursor: pointer;
}

.todo-items li.done{
    color: green;
    position: relative;
}

.todo-items li.done::after{
    content: '\2713';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: green;
}


/* OPTIONS */

.todo-options{
    display: flex;
    height: 60px;
}

.todo-options__remove, .todo-options__check{
    width: 50%;
    border: none;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
    color: #eee;
}

.todo-options__remove{
    background-color: rgba(255, 0, 0, 0.7);
}

.todo-options__check{
    background-color: rgba(0, 128, 0, 0.7);
}


/* TOOLTIP */

.todoApp-tooltip {
    display: none;
}

.todoApp-tooltip_active{
    display: block;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font: italic 14px sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}